{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
    <h1>Hand  |  Cards</h1>

    {{ include('flash.html.twig') }}
    {% for card in cards %}
        <span class="card">{{ card.getAsCard() }}</span>
    {% endfor %}
    <br>
    

    <form method="get" action="">
        <p>
            <input type="submit" value="View Deck"
                onClick="this.form.action='{{ path('deck') }}';">
            <input type="submit" value="Shuffle"
                onClick="this.form.action='{{ path('shuffle') }}';">
            <input type="submit" value="Draw a Card"
                onClick="this.form.action='{{ path('draw') }}';">
            <input type="submit" value="Reset"
                onClick="this.form.action='{{ path('card_init') }}';">
        </p>
    </form>
{% endblock %}
