<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})">
            <span class="site-title">MVC</span>
        </header>
        <nav class ="header-nav">
            <ul>
                <li><a href="{{ path('home') }}">Home</a> |</li>
                <li><a href="{{ path('about') }}">About</a> |</li>
                <li><a href="{{ path('lucky') }}">Lucky number</a> |</li>
                <li><a href="{{ path('report') }}">Report</a> |</li>
                <li><a href="{{ path('pig_start') }}">Pig Game</a> |</li>
                <li><a href="{{ path('card') }}">Cards</a> |</li>
                <li><a href="{{ path('session') }}">View Session</a></li>
            </ul>
        </nav>
        <main>
        {% block body %}{% endblock %}
        </main>
        <footer>
            <div align="center">
            <p>© 2024 josf23. All rights reserved.</p>
            <p>View on <a href="https://github.com/CCenjoyer">GitHub</a></p>
            </div>
        </footer>
    </body>
</html>
