{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
{% include('library/nav.html.twig') %}
    <h1>Edit Book</h1>

    <form class="styled_form" action="{{ path('library_change', {'bookId': library.id}) }}" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ library.title }}" required>
        <br>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="{{ library.author }}" required>
        <br>

        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" value="{{ library.isbn }}" required>
        <br>    

        <label for="image_url">Image URL:</label>
        <input type="text" id="image_url" name="image_url" value="{{ library.getImageUrl|e }}">
        <br>
        <button class="blue-button" type="submit">Update Book</button>
    </form>
{% endblock %}
